.job-form-container {
  margin: 50px 5px 10px 5px;
  border:  #DFDFDF solid 1px;
  border-radius: 20px;
  padding: 50px;
  h1 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.job-form {
  label {
    padding-right: 15px;
    font-size: 1.23em;
    font-weight: 600;
  }
  button {
    float: right;
  }
}

.error {
  font-size: 2em;
  color: #FD5B10;
  font-weight: 600;
  padding: 15px;
}
