ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 6px 12px;
  text-transform: uppercase;
}
