.pill-box {
  font-size: 1.23em;
  font-weight: 600;
  border-radius: 20px;
  border: 3px solid #2c398f;
  color: #2c398f;
  margin-left: 10px;
  transition: all 500ms linear;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.pill-box:hover {
  background-color: #23fdd8;
  color: #FFF;
  border: 3px solid #23fdd8;
}
